/*---GLOBAL STYLES---*/
body {
  background-color: #F2F2F2;
  font-family: 'Hind', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  padding-top: 20px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/*--NAVBAR--*/
.navbar-default {
  background-color: #FFBE8A;
  border-color: #FFBE8A;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
}

.navbar-default .navbar-brand {
  color: #000;
}

/*--PAGE STYLES--*/
.page-header {
  font-size: 60px;
}

/*--FORM--*/

textarea.form-control {
  resize: none;
  height: 150px;
}

/*--ICONS--*/
.edit-icon {
  height: 15px;
}

.delete-icon {
  height: 15px;
  margin: 5px;
}
