/*---GLOBAL STYLES---*/
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #FFF;
  font-family: 'Hind', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  padding-top: 20px;
  min-height: 100%;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/*--NAVBAR--*/
.navbar-default {
  background-color: #CCCCCC;
  border-color: #CCCCCC;
}

.navbar-default .navbar-nav>li>a {
  color: #474747;
}

.navbar-default .navbar-brand {
  color: #474747;
}

/*--PAGE STYLES--*/
.page-header {
  font-size: 60px;
}

/*--ALERT INFO--*/
.alert-info {
    color: #7F746B;
    background-color: #FFCAA1;
    border-color: #FFCAA1;
}

/*--FORM--*/

textarea.form-control {
  resize: none;
  height: 150px;
}

/*--ICONS--*/
.edit-icon {
  height: 15px;
}

.delete-icon {
  height: 15px;
  margin: 5px;
}

/*--BUTTONS--*/
.btn-primary {
  background-color: #4DA5B2;
  border-color: #4DA5B2;
  float: right;
  margin-right: 15px;
}

.btn-primary:hover {
  background-color: #50797F;
  border-color: #50797F;
}

.btn {
  font-size: 20px;
}

/*--FLOATING + ON MOBILE--*/
#floating-button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #4DA5B2;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus {
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 64px;
  font-size: 38px;
  font-weight: 300;
}

/*--FOOTER--*/
footer {
  background-color: #CCCCCC;
  height: 50px;
  margin-top: 50px;
}

.no-padding {
  padding: 0;
}
